.mtk1 {
  color: #957FB8;
}

.mtk2 {
  color: red;
}

.mtk3 {
  color: #D56270;
}

.mtk4 {
  color: orange;
}

.mtk5 {
  color: #7792C9;
}

.mtk6 {
  color: cyan;
}

.mtk7 {
  color: #D5B57C;
}

/* Path "../../" */
.mtk8 {
  color: #98BB6C;
}

.mtk9 {
  color: #957FB8;
}

.mtk10 {
  color: #738DC3;
}

.mtk11 {
  color: green;
}

.mtk12 {
  color: white;
}

.mtk13 {
  color: yellow;
}

.mtk14 {
  color: purple;
}

.mtk15 {
  color: orange;
}

